# common
.clang-format
.vscode
.idea
.eslintcache
wasm/public/module.*
wasm/public/vendor/
wasm/test-results/
wblib/json

# assets
wasm/assets/*
!wasm/assets/*-request.schema.json

# artifacts
dist-configurator*
dist-offline*
node_modules
package-lock.json
emsdk-docker-image.tar.gz
.firmware-cache/
