.deviceSettingsWasm-container {
    width: 100%;
    display: flex;
    gap: 12px;
}

.deviceSettingsWasm-aside {
    min-width: 220px;
}

.deviceSettingsWasm-scanning {
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

.deviceSettingsWasm-addDeviceButton {
    margin-top: 12px;
    width: 100%;
}

.deviceSettingsWasm-content {
    width: 100%;
}

.deviceSettingsWasm-header {
    display: flex;
    justify-content: space-between;
}

.deviceSettingsWasm-title {
    margin-top: 6px;
}

.deviceSettingsWasm-alert {
    margin-bottom: 12px;
}

.deviceSettingsWasm-loaderWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.deviceSettingsWasm-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.deviceSettingsWasm-logo {
    width: 140px;
}

.deviceSettingsWasm-offline,
.deviceSettingsWasm-update,
.deviceSettingsWasm-portName {
    font-size: 13px;
    line-height: 34px;
}

.deviceSettingsWasm-portName {
    color: var(--gray-color);
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.2;
    align-self: center;
}

.deviceSettingsWasm-offline {
    color: var(--gray-color);
}

.deviceSettingsWasm-update {
    color: var(--primary-color);
}

.deviceSettingsWasm-footer .dropdown__control {
    padding: 0 6px;
    border: 0;
    box-shadow: none;
}
